<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Technify</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
        type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link
        href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/clean-blog.min.css') }}" rel="stylesheet">

</head>

<body>

    <div class="container">

        <div class="mt-4 ml-2" style="margin-bottom: -50px;">
            <h3>Edit Posts</h3>
        </div>
        
        <div class="row">
            <div class="col mx-3">

                <form method="POST" action="/edit/{{ post.post_id }}" name="editpost" id="editpost" novalidate  enctype="multipart/form-data">
                    <div class="row my-2">
                        <div class="col text-right ">
                            <button type="submit" class="btn btn-primary py-2 px-3 mr-2" style="border-radius: 5px;">Update</button>
                            <a href="/post/{{ post.slug }}" class="btn btn-primary py-2 px-3" style="border-radius: 5px;">Preview</a>
                            <a href="/admin" class="btn btn-primary py-2 px-3" style="border-radius: 5px;">Close</a>
                        </div>
                    </div>
                    <!-- <button type="submit" class="btn btn-primary py-2 px-3">Update</button> -->
                    <div class="form-group">
                        <input type="text" class="form-control" name="title" id="title" value="{{ post.title }}" aria-describedby="title" placeholder="Post title">
                    </div>
                    <div class="form-group">
                        <textarea rows="15" class="form-control" name="content" placeholder="Post content" id="content"
                        required data-validation-required-message="Post content can't be blank">{{ post.content }}</textarea>
                    </div>
                    <div class="form-group">
                        <label>Current Post iamge</label>
                        <input type="text" class="form-control" name="postimg" id="postimg" value="{{ post.image_url }}" aria-describedby="post image" placeholder="Post image">
                        <label>Change Post iamge</label>
                        <input type="file" class="form-control" name="imgfile" id="imgfile" aria-describedby="post image" placeholder="Post image">
                    </div>
                </form>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer class="pt-1 pb-4"> 
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <p class="copyright text-muted">Copyright &copy; {{ params['blog_name'] }} 2020</p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

        <!-- Custom scripts for this template -->
        <script src="{{ url_for('static', filename='js/clean-blog.min.js') }}"></script>

    </div>



</body>

</html>